/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease-in-out;
}

.modal.show {
    display: block;
    opacity: 1;
}

.modal-content {
    background-color: #ffffff;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    transform: translateY(-50px);
    animation: slide-down 0.3s ease-out forwards;
    border-radius: 20px;
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .modal-content {
        width: 80%;
    }
}

.close {
    color: #555;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
select,
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
input[type="date"]:focus {
    border-color: #007bff;
}

.submit {
    background-color: rgba(142, 36, 36, 0.974) !important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}
.submit{
    opacity: 0.8;
}
.modal.fade-in {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal.fade-in.show {
    opacity: 1;
}